<mat-card class="wrapper">
  <mat-card-title>Chat</mat-card-title>
  <mat-card-content>
    <mat-list *ngIf='messages'>
      <mat-list-item *ngFor='let message of messages'>
        <div [class]='message.style'>
          {{message.from}}:
          <br />
          <strong>{{message.text}}</strong>
        </div>
      </mat-list-item>
    </mat-list>

    <h2 *ngIf='!messages'>Start a conversation :)</h2>


    <mat-input-container>
      <input mdInput #input placeholder="Message" type="text" />
    </mat-input-container>
    <button mat-raised-button (click)="send(input.value)">Send</button>

  </mat-card-content>
</mat-card>